<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monzer Omer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/public/css/main.css">
</head>
<body>
<!-- NavBar -->
  <nav class="navbar navbar-expand-md navbar-light  navbar-custom">
    <a class="navbar-brand" href="/"><img src="../src/public/images/Alimnysolid.png" alt="ALIMNY LOGO" width="87" height="25"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./new">New Blog</a>
          </li>
        </ul>
    </div>
</nav>
<!-- NavBar End-->


<!-- Posts -->
<div class="container">
  <!-- Last Post -->
  
  <h1 class="titleOne">Last post:</h1>
<hr>
<% if (posts.length >= 1) { %>
   <a class="topost" href="/post?id=<%= posts[posts.length-1].id %>"  rel="noopener noreferrer">
  <div class="lastpost">
  <div class="row">
  <div class="col-sm-8 post">
  <p class="posttitle"><%= posts[posts.length-1].title %> <span class="postdate"><%= posts[posts.length-1].body %></span></p>
  
  <p class="postbody"><%= posts[posts.length-1].createdAt %></p>
</div>
<div class="col-sm-4 image">
  <img class="photo" src="./<%= posts[posts.length-1].image %>" alt="image" width="330" height="243">
</div>
</div>
</div>
</a>
<% } else { %>
  No Posts Yet
 <% } %>
<!-- End Last Post -->

<!-- All Posts -->
<h1 class="titleOne">All Posts:</h1>
<hr>
<% if (posts.length >= 1) { %>
<% for( let index = 0; index < posts.length; index++ ) { %>
   <a class="topost" href="/post?id=<%= posts[index].id %>"  rel="noopener noreferrer">
  <div class="lastpost">
  <div class="row">
  <div class="col-sm-8 post">
  <p class="posttitle"><%= posts[index].title %> <span class="postdate"><%= posts[index].body %></span></p>
  
  <p class="postbody"><%= posts[index].createdAt %></p>
</div>
<div class="col-sm-4 image">
  <img class="photo" src="<%= posts[index].image %>" alt="image" width="330" height="243">
</div>
</div>
</div>
</a>
<% } %>
<% } else { %>
  No Posts Yet
 <% } %>
<!-- End All Posts -->
</div>


    
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <a class="navbar-brand" href="/"><img src="../src/public/images/Alimnysolid.png" alt="ALIMNY LOGO" width="87" height="25"></a>
  

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">


        <ul class="list-unstyled">
          <li>
            <a href="https://www.linkedin.com/in/monzersmiledev/" class="footer">Linkedin</a>
          </li>
          <li>
            <a href="https://web.facebook.com/monzersmiledev/" class="footer">Facebook</a>
          </li>
          <li>
            <a href="https://wa.me/+249121601505" class="footer">whatsapp</a>
          </li>
          <li>
            <a href="https://github.com/monzersmiledev" class="footer">GitHub</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->

        <ul class="list-unstyled">
          
          <li>
            <a href="https://twitter.com/monzersmiledev" class="footer">Twitter</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://www.linkedin.com/in/monzersmiledev/" class="footer">Monzer Omer</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
